

.nav-item > a {
    color:#593C2C;
}

h1{
    color: #593C2C;
}
header h1{
    font-size: 30px;
    background-color: #F2E8D5;
}
.container-fluid{
    padding: 0;
}

main{
    max-width: 1000px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}


.carousel-item{
    width: 100%;
    height: 650px;
}

section h1{
    font-size: 30px;
}

#ultimas{
    margin-top: 20px;
}

#ultimas h1{
    font-size:35px ;
    color:#BF8173;
    margin-bottom: 20px;
}

#importante {
    font-size:35px ;
    color:#BF8173;
    margin: 20px 0;
}

.impor h1{
    font-size: 22px;
}

.impor img{
    width: 100%;
}
footer{
    background-color: #F2E8D5;
}

.nav-link:hover{
    color:#BF8173 ;
}
@media (max-width: 500px){
    .impor img{
        display: none;
    }
}